# build
AnandCraft
Release/
Debug/
*.o

# game data
world/

# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build

# vscode
.vscode
AnandCraft.code-workspace

# macOS
.DS_Store
